POSTGRES_SERVER=127.0.0.1
POSTGRES_DB=db_sipd_dalev
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ganti-dengan-password
POSTGRES_SCHEMA=public
TABLE_PROGRAM=dalev_realisasi_program
TABLE_SUBKEGIATAN=dalev_realisasi_subkegiatan
TABLE_META=dalev_jobs_info
TABLE_JOBS=dalev_download_jobs

TAHUN_ANGGARAN=2026
KODE_PEMDA=3376

API_KEY=
API_HOST=0.0.0.0
API_PORT=8000
CORS_ORIGINS=https://sipd.kemendagri.go.id
CREATE_TABLES=true
DB_ECHO=false
STORE_RAW=false
